openapi: 3.0.3
info:
  title: GitHub API - Custom Subset (repos, actions, issues, pulls, git, search, reactions, users)
  version: 1.1.4
  description: |-
    Custom OpenAPI spec containing only these task types: repos, actions, issues, pulls, git, search, reactions, users.
    Generated from the full GitHub v3 REST API spec.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
tags:
- name: actions
  description: Endpoints to manage GitHub Actions using the REST API.
- name: git
  description: Raw Git functionality.
- name: issues
  description: Interact with GitHub Issues.
- name: pulls
  description: Interact with GitHub Pull Requests.
- name: reactions
  description: Interact with reactions to various GitHub entities.
- name: repos
  description: Interact with GitHub Repos.
- name: search
  description: Search for specific items on GitHub.
- name: users
  description: Interact with and view information about users and also current user.
servers:
- url: https://api.github.com
paths:
  /orgs/{org}/repos:
    get:
      summary: List organization repositories
      description: |-
        Lists repositories for the specified organization.

        > [!NOTE]
        > In order to see the `security_and_analysis` block for a repository you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see "[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization)."
      tags:
      - repos
      operationId: repos/list-for-org
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/repos#list-organization-repositories
      parameters:
      - $ref: '#/components/parameters/org'
      - name: type
        description: Specifies the types of repositories you want returned.
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - public
          - private
          - forks
          - sources
          - member
          default: all
      - name: sort
        description: The property to sort the results by.
        in: query
        required: false
        schema:
          type: string
          enum:
          - created
          - updated
          - pushed
          - full_name
          default: created
      - name: direction
        description: 'The order to sort by. Default: `asc` when using `full_name`, otherwise `desc`.'
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/minimal-repository'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: repos
    post:
      summary: Create an organization repository
      description: |-
        Creates a new repository in the specified organization. The authenticated user must be a member of the organization.

        OAuth app tokens and personal access tokens (classic) need the `public_repo` or `repo` scope to create a public repository, and `repo` scope to create a private repository.
      tags:
      - repos
      operationId: repos/create-in-org
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/repos#create-an-organization-repository
      parameters:
      - $ref: '#/components/parameters/org'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the repository.
                description:
                  type: string
                  description: A short description of the repository.
                homepage:
                  type: string
                  description: A URL with more information about the repository.
                private:
                  type: boolean
                  description: Whether the repository is private.
                  default: false
                visibility:
                  type: string
                  description: The visibility of the repository.
                  enum:
                  - public
                  - private
                has_issues:
                  type: boolean
                  description: Either `true` to enable issues for this repository or `false` to disable them.
                  default: true
                has_projects:
                  type: boolean
                  description: Either `true` to enable projects for this repository or `false` to disable them. **Note:**
                    If you're creating a repository in an organization that has disabled repository projects, the default
                    is `false`, and if you pass `true`, the API returns an error.
                  default: true
                has_wiki:
                  type: boolean
                  description: Either `true` to enable the wiki for this repository or `false` to disable it.
                  default: true
                has_downloads:
                  description: Whether downloads are enabled.
                  default: true
                  type: boolean
                  example: true
                is_template:
                  type: boolean
                  description: Either `true` to make this repo available as a template repository or `false` to prevent it.
                  default: false
                team_id:
                  type: integer
                  description: The id of the team that will be granted access to this repository. This is only valid when
                    creating a repository in an organization.
                auto_init:
                  type: boolean
                  description: Pass `true` to create an initial commit with empty README.
                  default: false
                gitignore_template:
                  type: string
                  description: Desired language or platform [.gitignore template](https://github.com/github/gitignore) to
                    apply. Use the name of the template without the extension. For example, "Haskell".
                license_template:
                  type: string
                  description: Choose an [open source license template](https://choosealicense.com/) that best suits your
                    needs, and then use the [license keyword](https://docs.github.com/articles/licensing-a-repository/#searching-github-by-license-type)
                    as the `license_template` string. For example, "mit" or "mpl-2.0".
                allow_squash_merge:
                  type: boolean
                  description: Either `true` to allow squash-merging pull requests, or `false` to prevent squash-merging.
                  default: true
                allow_merge_commit:
                  type: boolean
                  description: Either `true` to allow merging pull requests with a merge commit, or `false` to prevent merging
                    pull requests with merge commits.
                  default: true
                allow_rebase_merge:
                  type: boolean
                  description: Either `true` to allow rebase-merging pull requests, or `false` to prevent rebase-merging.
                  default: true
                allow_auto_merge:
                  type: boolean
                  description: Either `true` to allow auto-merge on pull requests, or `false` to disallow auto-merge.
                  default: false
                delete_branch_on_merge:
                  type: boolean
                  description: Either `true` to allow automatically deleting head branches when pull requests are merged,
                    or `false` to prevent automatic deletion. **The authenticated user must be an organization owner to set
                    this property to `true`.**
                  default: false
                use_squash_pr_title_as_default:
                  type: boolean
                  description: Either `true` to allow squash-merge commits to use pull request title, or `false` to use commit
                    message. **This property is closing down. Please use `squash_merge_commit_title` instead.
                  default: false
                  deprecated: true
                squash_merge_commit_title:
                  type: string
                  enum:
                  - PR_TITLE
                  - COMMIT_OR_PR_TITLE
                  description: |-
                    Required when using `squash_merge_commit_message`.

                    The default value for a squash merge commit title:

                    - `PR_TITLE` - default to the pull request's title.
                    - `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit).
                squash_merge_commit_message:
                  type: string
                  enum:
                  - PR_BODY
                  - COMMIT_MESSAGES
                  - BLANK
                  description: |-
                    The default value for a squash merge commit message:

                    - `PR_BODY` - default to the pull request's body.
                    - `COMMIT_MESSAGES` - default to the branch's commit messages.
                    - `BLANK` - default to a blank commit message.
                merge_commit_title:
                  type: string
                  enum:
                  - PR_TITLE
                  - MERGE_MESSAGE
                  description: |-
                    Required when using `merge_commit_message`.

                    The default value for a merge commit title.

                    - `PR_TITLE` - default to the pull request's title.
                    - `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name).
                merge_commit_message:
                  type: string
                  enum:
                  - PR_BODY
                  - PR_TITLE
                  - BLANK
                  description: |-
                    The default value for a merge commit message.

                    - `PR_TITLE` - default to the pull request's title.
                    - `PR_BODY` - default to the pull request's body.
                    - `BLANK` - default to a blank commit message.
                custom_properties:
                  type: object
                  description: The custom properties for the new repository. The keys are the custom property names, and the
                    values are the corresponding custom property values.
                  additionalProperties: true
              required:
              - name
            examples:
              default:
                value:
                  name: Hello-World
                  description: This is your first repository
                  homepage: https://github.com
                  private: false
                  has_issues: true
                  has_projects: true
                  has_wiki: true
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/full-repository'
          headers:
            Location:
              example: https://api.github.com/repos/octocat/Hello-World
              schema:
                type: string
        '403':
          $ref: '#/components/responses/forbidden'
        '422':
          $ref: '#/components/responses/validation_failed'
        '451':
          $ref: '#/components/responses/validation_failed'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: repos
  /repos/{owner}/{repo}:
    get:
      summary: Get a repository
      description: |-
        The `parent` and `source` objects are present when the repository is a fork. `parent` is the repository this repository was forked from, `source` is the ultimate source for the network.

        > [!NOTE]
        > - In order to see the `security_and_analysis` block for a repository you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see "[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization)."
        > - To view merge-related settings, you must have the `contents:read` and `contents:write` permissions.
      tags:
      - repos
      operationId: repos/get
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/repos#get-a-repository
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/full-repository'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '301':
          $ref: '#/components/responses/moved_permanently'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: repos
    patch:
      summary: Update a repository
      description: '**Note**: To edit a repository''s topics, use the [Replace all repository topics](https://docs.github.com/rest/repos/repos#replace-all-repository-topics)
        endpoint.'
      tags:
      - repos
      operationId: repos/update
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/repos#update-a-repository
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the repository.
                description:
                  type: string
                  description: A short description of the repository.
                homepage:
                  type: string
                  description: A URL with more information about the repository.
                private:
                  type: boolean
                  description: "Either `true` to make the repository private or `false` to make it public. Default: `false`.\
                    \  \n**Note**: You will get a `422` error if the organization restricts [changing repository visibility](https://docs.github.com/articles/repository-permission-levels-for-an-organization#changing-the-visibility-of-repositories)\
                    \ to organization owners and a non-owner tries to change the value of private."
                  default: false
                visibility:
                  type: string
                  description: The visibility of the repository.
                  enum:
                  - public
                  - private
                security_and_analysis:
                  type: object
                  description: |-
                    Specify which security and analysis features to enable or disable for the repository.

                    To use this parameter, you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see "[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization)."

                    For example, to enable GitHub Advanced Security, use this data in the body of the `PATCH` request:
                    `{ "security_and_analysis": {"advanced_security": { "status": "enabled" } } }`.

                    You can check which security and analysis features are currently enabled by using a `GET /repos/{owner}/{repo}` request.
                  nullable: true
                  properties:
                    advanced_security:
                      type: object
                      description: |-
                        Use the `status` property to enable or disable GitHub Advanced Security for this repository.
                        For more information, see "[About GitHub Advanced
                        Security](/github/getting-started-with-github/learning-about-github/about-github-advanced-security)."

                        For standalone Code Scanning or Secret Protection products, this parameter cannot be used.
                      properties:
                        status:
                          type: string
                          description: Can be `enabled` or `disabled`.
                    code_security:
                      type: object
                      description: Use the `status` property to enable or disable GitHub Code Security for this repository.
                      properties:
                        status:
                          type: string
                          description: Can be `enabled` or `disabled`.
                    secret_scanning:
                      type: object
                      description: Use the `status` property to enable or disable secret scanning for this repository. For
                        more information, see "[About secret scanning](/code-security/secret-security/about-secret-scanning)."
                      properties:
                        status:
                          type: string
                          description: Can be `enabled` or `disabled`.
                    secret_scanning_push_protection:
                      type: object
                      description: Use the `status` property to enable or disable secret scanning push protection for this
                        repository. For more information, see "[Protecting pushes with secret scanning](/code-security/secret-scanning/protecting-pushes-with-secret-scanning)."
                      properties:
                        status:
                          type: string
                          description: Can be `enabled` or `disabled`.
                    secret_scanning_ai_detection:
                      type: object
                      description: Use the `status` property to enable or disable secret scanning AI detection for this repository.
                        For more information, see "[Responsible detection of generic secrets with AI](https://docs.github.com/code-security/secret-scanning/using-advanced-secret-scanning-and-push-protection-features/generic-secret-detection/responsible-ai-generic-secrets)."
                      properties:
                        status:
                          type: string
                          description: Can be `enabled` or `disabled`.
                    secret_scanning_non_provider_patterns:
                      type: object
                      description: Use the `status` property to enable or disable secret scanning non-provider patterns for
                        this repository. For more information, see "[Supported secret scanning patterns](/code-security/secret-scanning/introduction/supported-secret-scanning-patterns#supported-secrets)."
                      properties:
                        status:
                          type: string
                          description: Can be `enabled` or `disabled`.
                    secret_scanning_delegated_alert_dismissal:
                      type: object
                      description: Use the `status` property to enable or disable secret scanning delegated alert dismissal
                        for this repository.
                      properties:
                        status:
                          type: string
                          description: Can be `enabled` or `disabled`.
                    secret_scanning_delegated_bypass:
                      type: object
                      description: Use the `status` property to enable or disable secret scanning delegated bypass for this
                        repository.
                      properties:
                        status:
                          type: string
                          description: Can be `enabled` or `disabled`.
                    secret_scanning_delegated_bypass_options:
                      type: object
                      description: |-
                        Feature options for secret scanning delegated bypass.
                        This object is only honored when `security_and_analysis.secret_scanning_delegated_bypass.status` is set to `enabled`.
                        You can send this object in the same request as `secret_scanning_delegated_bypass`, or update just the options in a separate request.
                      properties:
                        reviewers:
                          type: array
                          description: |-
                            The bypass reviewers for secret scanning delegated bypass.
                            If you omit this field, the existing set of reviewers is unchanged.
                          items:
                            type: object
                            required:
                            - reviewer_id
                            - reviewer_type
                            properties:
                              reviewer_id:
                                type: integer
                                description: The ID of the team or role selected as a bypass reviewer
                              reviewer_type:
                                type: string
                                description: The type of the bypass reviewer
                                enum:
                                - TEAM
                                - ROLE
                has_issues:
                  type: boolean
                  description: Either `true` to enable issues for this repository or `false` to disable them.
                  default: true
                has_projects:
                  type: boolean
                  description: Either `true` to enable projects for this repository or `false` to disable them. **Note:**
                    If you're creating a repository in an organization that has disabled repository projects, the default
                    is `false`, and if you pass `true`, the API returns an error.
                  default: true
                has_wiki:
                  type: boolean
                  description: Either `true` to enable the wiki for this repository or `false` to disable it.
                  default: true
                is_template:
                  type: boolean
                  description: Either `true` to make this repo available as a template repository or `false` to prevent it.
                  default: false
                default_branch:
                  type: string
                  description: Updates the default branch for this repository.
                allow_squash_merge:
                  type: boolean
                  description: Either `true` to allow squash-merging pull requests, or `false` to prevent squash-merging.
                  default: true
                allow_merge_commit:
                  type: boolean
                  description: Either `true` to allow merging pull requests with a merge commit, or `false` to prevent merging
                    pull requests with merge commits.
                  default: true
                allow_rebase_merge:
                  type: boolean
                  description: Either `true` to allow rebase-merging pull requests, or `false` to prevent rebase-merging.
                  default: true
                allow_auto_merge:
                  type: boolean
                  description: Either `true` to allow auto-merge on pull requests, or `false` to disallow auto-merge.
                  default: false
                delete_branch_on_merge:
                  type: boolean
                  description: Either `true` to allow automatically deleting head branches when pull requests are merged,
                    or `false` to prevent automatic deletion.
                  default: false
                allow_update_branch:
                  type: boolean
                  description: Either `true` to always allow a pull request head branch that is behind its base branch to
                    be updated even if it is not required to be up to date before merging, or false otherwise.
                  default: false
                use_squash_pr_title_as_default:
                  type: boolean
                  description: Either `true` to allow squash-merge commits to use pull request title, or `false` to use commit
                    message. **This property is closing down. Please use `squash_merge_commit_title` instead.
                  default: false
                  deprecated: true
                squash_merge_commit_title:
                  type: string
                  enum:
                  - PR_TITLE
                  - COMMIT_OR_PR_TITLE
                  description: |-
                    Required when using `squash_merge_commit_message`.

                    The default value for a squash merge commit title:

                    - `PR_TITLE` - default to the pull request's title.
                    - `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit).
                squash_merge_commit_message:
                  type: string
                  enum:
                  - PR_BODY
                  - COMMIT_MESSAGES
                  - BLANK
                  description: |-
                    The default value for a squash merge commit message:

                    - `PR_BODY` - default to the pull request's body.
                    - `COMMIT_MESSAGES` - default to the branch's commit messages.
                    - `BLANK` - default to a blank commit message.
                merge_commit_title:
                  type: string
                  enum:
                  - PR_TITLE
                  - MERGE_MESSAGE
                  description: |-
                    Required when using `merge_commit_message`.

                    The default value for a merge commit title.

                    - `PR_TITLE` - default to the pull request's title.
                    - `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name).
                merge_commit_message:
                  type: string
                  enum:
                  - PR_BODY
                  - PR_TITLE
                  - BLANK
                  description: |-
                    The default value for a merge commit message.

                    - `PR_TITLE` - default to the pull request's title.
                    - `PR_BODY` - default to the pull request's body.
                    - `BLANK` - default to a blank commit message.
                archived:
                  type: boolean
                  description: Whether to archive this repository. `false` will unarchive a previously archived repository.
                  default: false
                allow_forking:
                  type: boolean
                  description: Either `true` to allow private forks, or `false` to prevent private forks.
                  default: false
                web_commit_signoff_required:
                  type: boolean
                  description: Either `true` to require contributors to sign off on web-based commits, or `false` to not require
                    contributors to sign off on web-based commits.
                  default: false
            examples:
              default:
                value:
                  name: Hello-World
                  description: This is your first repository
                  homepage: https://github.com
                  private: true
                  has_issues: true
                  has_projects: true
                  has_wiki: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/full-repository'
        '307':
          $ref: '#/components/responses/temporary_redirect'
        '403':
          $ref: '#/components/responses/forbidden'
        '422':
          $ref: '#/components/responses/validation_failed'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: repos
    delete:
      summary: Delete a repository
      description: |-
        Deleting a repository requires admin access.

        If an organization owner has configured the organization to prevent members from deleting organization-owned
        repositories, you will get a `403 Forbidden` response.

        OAuth app tokens and personal access tokens (classic) need the `delete_repo` scope to use this endpoint.
      tags:
      - repos
      operationId: repos/delete
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/repos#delete-a-repository
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '204':
          description: Response
        '403':
          description: 'If an organization owner has configured the organization to prevent members from deleting organization-owned
            repositories, a member will get this response:'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  documentation_url:
                    type: string
        '307':
          $ref: '#/components/responses/temporary_redirect'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: repos
  /repos/{owner}/{repo}/actions/artifacts:
    get:
      summary: List artifacts for a repository
      description: |-
        Lists all artifacts for a repository.

        Anyone with read access to the repository can use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.
      tags:
      - actions
      operationId: actions/list-artifacts-for-repo
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/artifacts#list-artifacts-for-a-repository
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/artifact-name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                - total_count
                - artifacts
                properties:
                  total_count:
                    type: integer
                  artifacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/artifact'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: artifacts
  /repos/{owner}/{repo}/actions/artifacts/{artifact_id}:
    get:
      summary: Get an artifact
      description: |-
        Gets a specific artifact for a workflow run.

        Anyone with read access to the repository can use this endpoint.

        If the repository is private, OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/get-artifact
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/artifacts#get-an-artifact
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/artifact-id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/artifact'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: artifacts
    delete:
      summary: Delete an artifact
      description: |-
        Deletes an artifact for a workflow run.
        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/delete-artifact
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/artifacts#delete-an-artifact
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/artifact-id'
      responses:
        '204':
          description: Response
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: artifacts
  /repos/{owner}/{repo}/actions/artifacts/{artifact_id}/{archive_format}:
    get:
      summary: Download an artifact
      description: |-
        Gets a redirect URL to download an archive for a repository. This URL expires after 1 minute. Look for `Location:` in
        the response header to find the URL for the download. The `:archive_format` must be `zip`.

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/download-artifact
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/artifacts#download-an-artifact
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/artifact-id'
      - name: archive_format
        in: path
        required: true
        schema:
          type: string
      responses:
        '302':
          description: Response
          headers:
            Location:
              $ref: '#/components/headers/location'
        '410':
          $ref: '#/components/responses/gone'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: artifacts
  /repos/{owner}/{repo}/actions/jobs/{job_id}:
    get:
      summary: Get a job for a workflow run
      description: |-
        Gets a specific job in a workflow run.

        Anyone with read access to the repository can use this endpoint.

        If the repository is private, OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/get-job-for-workflow-run
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-jobs#get-a-job-for-a-workflow-run
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/job-id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-jobs
  /repos/{owner}/{repo}/actions/jobs/{job_id}/logs:
    get:
      summary: Download job logs for a workflow run
      description: |-
        Gets a redirect URL to download a plain text file of logs for a workflow job. This link expires after 1 minute. Look
        for `Location:` in the response header to find the URL for the download.

        Anyone with read access to the repository can use this endpoint.

        If the repository is private, OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/download-job-logs-for-workflow-run
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-jobs#download-job-logs-for-a-workflow-run
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/job-id'
      responses:
        '302':
          description: Response
          headers:
            Location:
              example: https://pipelines.actions.githubusercontent.com/ab1f3cCFPB34Nd6imvFxpGZH5hNlDp2wijMwl2gDoO0bcrrlJj/_apis/pipelines/1/jobs/19/signedlogcontent?urlExpires=2020-01-22T22%3A44%3A54.1389777Z&urlSigningMethod=HMACV1&urlSignature=2TUDfIg4fm36OJmfPy6km5QD5DLCOkBVzvhWZM8B%2BUY%3D
              schema:
                type: string
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-jobs
  /repos/{owner}/{repo}/actions/jobs/{job_id}/rerun:
    post:
      summary: Re-run a job from a workflow run
      description: |-
        Re-run a job and its dependent jobs in a workflow run.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/re-run-job-for-workflow-run
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#re-run-a-job-from-a-workflow-run
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/job-id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
              properties:
                enable_debug_logging:
                  type: boolean
                  default: false
                  description: Whether to enable debug logging for the re-run.
            examples:
              default:
                value: null
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-object'
        '403':
          $ref: '#/components/responses/forbidden'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
  /repos/{owner}/{repo}/actions/runs:
    get:
      summary: List workflow runs for a repository
      description: |-
        Lists all workflow runs for a repository. You can use parameters to narrow the list of results. For more information about using parameters, see [Parameters](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#parameters).

        Anyone with read access to the repository can use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.

        This endpoint will return up to 1,000 results for each search when using the following parameters: `actor`, `branch`, `check_suite_id`, `created`, `event`, `head_sha`, `status`.
      tags:
      - actions
      operationId: actions/list-workflow-runs-for-repo
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#list-workflow-runs-for-a-repository
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/actor'
      - $ref: '#/components/parameters/workflow-run-branch'
      - $ref: '#/components/parameters/event'
      - $ref: '#/components/parameters/workflow-run-status'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/created'
      - $ref: '#/components/parameters/exclude-pull-requests'
      - $ref: '#/components/parameters/workflow-run-check-suite-id'
      - $ref: '#/components/parameters/workflow-run-head-sha'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                - total_count
                - workflow_runs
                properties:
                  total_count:
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/workflow-run'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
  /repos/{owner}/{repo}/actions/runs/{run_id}:
    get:
      summary: Get a workflow run
      description: |-
        Gets a specific workflow run.

        Anyone with read access to the repository can use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.
      tags:
      - actions
      operationId: actions/get-workflow-run
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#get-a-workflow-run
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      - $ref: '#/components/parameters/exclude-pull-requests'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-run'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
    delete:
      summary: Delete a workflow run
      description: |-
        Deletes a specific workflow run.

        Anyone with write access to the repository can use this endpoint.

        If the repository is private, OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      operationId: actions/delete-workflow-run
      tags:
      - actions
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#delete-a-workflow-run
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      responses:
        '204':
          description: Response
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
  /repos/{owner}/{repo}/actions/runs/{run_id}/artifacts:
    get:
      summary: List workflow run artifacts
      description: |-
        Lists artifacts for a workflow run.

        Anyone with read access to the repository can use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.
      tags:
      - actions
      operationId: actions/list-workflow-run-artifacts
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/artifacts#list-workflow-run-artifacts
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/artifact-name'
      - $ref: '#/components/parameters/direction'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                - total_count
                - artifacts
                properties:
                  total_count:
                    type: integer
                  artifacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/artifact'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: artifacts
  /repos/{owner}/{repo}/actions/runs/{run_id}/cancel:
    post:
      summary: Cancel a workflow run
      description: |-
        Cancels a workflow run using its `id`.

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/cancel-workflow-run
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#cancel-a-workflow-run
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      responses:
        '202':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-object'
        '409':
          $ref: '#/components/responses/conflict'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
  /repos/{owner}/{repo}/actions/runs/{run_id}/force-cancel:
    post:
      summary: Force cancel a workflow run
      description: |-
        Cancels a workflow run and bypasses conditions that would otherwise cause a workflow execution to continue, such as an `always()` condition on a job.
        You should only use this endpoint to cancel a workflow run when the workflow run is not responding to [`POST /repos/{owner}/{repo}/actions/runs/{run_id}/cancel`](/rest/actions/workflow-runs#cancel-a-workflow-run).

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/force-cancel-workflow-run
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#force-cancel-a-workflow-run
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      responses:
        '202':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-object'
        '409':
          $ref: '#/components/responses/conflict'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
  /repos/{owner}/{repo}/actions/runs/{run_id}/jobs:
    get:
      summary: List jobs for a workflow run
      description: |-
        Lists jobs for a workflow run. You can use parameters to narrow the list of results. For more information
        about using parameters, see [Parameters](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#parameters).

        Anyone with read access to the repository can use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.
      tags:
      - actions
      operationId: actions/list-jobs-for-workflow-run
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-jobs#list-jobs-for-a-workflow-run
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      - name: filter
        description: Filters jobs by their `completed_at` timestamp. `latest` returns jobs from the most recent execution
          of the workflow run. `all` returns all jobs for a workflow run, including from old executions of the workflow run.
        in: query
        required: false
        schema:
          type: string
          enum:
          - latest
          - all
          default: latest
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                - total_count
                - jobs
                properties:
                  total_count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/job'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-jobs
  /repos/{owner}/{repo}/actions/runs/{run_id}/logs:
    get:
      summary: Download workflow run logs
      description: |-
        Gets a redirect URL to download an archive of log files for a workflow run. This link expires after 1 minute. Look for
        `Location:` in the response header to find the URL for the download.

        Anyone with read access to the repository can use this endpoint.

        If the repository is private, OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/download-workflow-run-logs
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#download-workflow-run-logs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      responses:
        '302':
          description: Response
          headers:
            Location:
              example: https://pipelines.actions.githubusercontent.com/ab1f3cCFPB34Nd6imvFxpGZH5hNlDp2wijMwl2gDoO0bcrrlJj/_apis/pipelines/1/runs/19/signedlogcontent?urlExpires=2020-01-22T22%3A44%3A54.1389777Z&urlSigningMethod=HMACV1&urlSignature=2TUDfIg4fm36OJmfPy6km5QD5DLCOkBVzvhWZM8B%2BUY%3D
              schema:
                type: string
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
    delete:
      summary: Delete workflow run logs
      description: |-
        Deletes all logs for a workflow run.

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/delete-workflow-run-logs
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#delete-workflow-run-logs
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      responses:
        '204':
          description: Response
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internal_error'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
  /repos/{owner}/{repo}/actions/runs/{run_id}/rerun:
    post:
      summary: Re-run a workflow
      description: |-
        Re-runs your workflow run using its `id`.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/re-run-workflow
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#re-run-a-workflow
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
              properties:
                enable_debug_logging:
                  type: boolean
                  default: false
                  description: Whether to enable debug logging for the re-run.
            examples:
              default:
                value: null
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-object'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
  /repos/{owner}/{repo}/actions/runs/{run_id}/rerun-failed-jobs:
    post:
      summary: Re-run failed jobs from a workflow run
      description: |-
        Re-run all of the failed jobs and their dependent jobs in a workflow run using the `id` of the workflow run.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/re-run-workflow-failed-jobs
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#re-run-failed-jobs-from-a-workflow-run
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/run-id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
              properties:
                enable_debug_logging:
                  type: boolean
                  default: false
                  description: Whether to enable debug logging for the re-run.
            examples:
              default:
                value: null
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-object'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
  /repos/{owner}/{repo}/actions/secrets:
    get:
      summary: List repository secrets
      description: |-
        Lists all secrets available in a repository without revealing their encrypted
        values.

        Authenticated users must have collaborator access to a repository to create, update, or read secrets.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/list-repo-secrets
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/secrets#list-repository-secrets
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                - total_count
                - secrets
                properties:
                  total_count:
                    type: integer
                  secrets:
                    type: array
                    items:
                      $ref: '#/components/schemas/actions-secret'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: secrets
  /repos/{owner}/{repo}/actions/secrets/public-key:
    get:
      summary: Get a repository public key
      description: |-
        Gets your public key, which you need to encrypt secrets. You need to
        encrypt a secret before you can create or update secrets.

        Anyone with read access to the repository can use this endpoint.

        If the repository is private, OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/get-repo-public-key
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/secrets#get-a-repository-public-key
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actions-public-key'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: secrets
  /repos/{owner}/{repo}/actions/secrets/{secret_name}:
    get:
      summary: Get a repository secret
      description: |-
        Gets a single repository secret without revealing its encrypted value.

        The authenticated user must have collaborator access to the repository to use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/get-repo-secret
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/secrets#get-a-repository-secret
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/secret-name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actions-secret'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: secrets
    put:
      summary: Create or update a repository secret
      description: |-
        Creates or updates a repository secret with an encrypted value. Encrypt your secret using
        [LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages). For more information, see "[Encrypting secrets for the REST API](https://docs.github.com/rest/guides/encrypting-secrets-for-the-rest-api)."

        Authenticated users must have collaborator access to a repository to create, update, or read secrets.

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/create-or-update-repo-secret
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/secrets#create-or-update-a-repository-secret
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/secret-name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                encrypted_value:
                  type: string
                  description: Value for your secret, encrypted with [LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages)
                    using the public key retrieved from the [Get a repository public key](https://docs.github.com/rest/actions/secrets#get-a-repository-public-key)
                    endpoint.
                  pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
                key_id:
                  type: string
                  description: ID of the key you used to encrypt the secret.
              required:
              - encrypted_value
              - key_id
            examples:
              default:
                value:
                  encrypted_value: c2VjcmV0
                  key_id: 012345678912345678
      responses:
        '201':
          description: Response when creating a secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-object'
        '204':
          description: Response when updating a secret
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: secrets
    delete:
      summary: Delete a repository secret
      description: |-
        Deletes a secret in a repository using the secret name.

        Authenticated users must have collaborator access to a repository to create, update, or read secrets.

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/delete-repo-secret
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/secrets#delete-a-repository-secret
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/secret-name'
      responses:
        '204':
          description: Response
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: secrets
  /repos/{owner}/{repo}/actions/variables:
    get:
      summary: List repository variables
      description: |-
        Lists all repository variables.

        Authenticated users must have collaborator access to a repository to create, update, or read variables.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/list-repo-variables
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/variables#list-repository-variables
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/variables-per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                - total_count
                - variables
                properties:
                  total_count:
                    type: integer
                  variables:
                    type: array
                    items:
                      $ref: '#/components/schemas/actions-variable'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: variables
    post:
      summary: Create a repository variable
      description: |-
        Creates a repository variable that you can reference in a GitHub Actions workflow.

        Authenticated users must have collaborator access to a repository to create, update, or read variables.

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/create-repo-variable
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/variables#create-a-repository-variable
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the variable.
                value:
                  type: string
                  description: The value of the variable.
              required:
              - name
              - value
            examples:
              default:
                value:
                  name: USERNAME
                  value: octocat
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty-object'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: variables
  /repos/{owner}/{repo}/actions/variables/{name}:
    get:
      summary: Get a repository variable
      description: |-
        Gets a specific variable in a repository.

        The authenticated user must have collaborator access to the repository to use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/get-repo-variable
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/variables#get-a-repository-variable
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/variable-name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actions-variable'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: variables
    patch:
      summary: Update a repository variable
      description: |-
        Updates a repository variable that you can reference in a GitHub Actions workflow.

        Authenticated users must have collaborator access to a repository to create, update, or read variables.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/update-repo-variable
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/variables#update-a-repository-variable
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/variable-name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the variable.
                value:
                  type: string
                  description: The value of the variable.
            examples:
              default:
                value:
                  name: USERNAME
                  value: octocat
      responses:
        '204':
          description: Response
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: variables
    delete:
      summary: Delete a repository variable
      description: |-
        Deletes a repository variable using the variable name.

        Authenticated users must have collaborator access to a repository to create, update, or read variables.

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/delete-repo-variable
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/variables#delete-a-repository-variable
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/variable-name'
      responses:
        '204':
          description: Response
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: variables
  /repos/{owner}/{repo}/actions/workflows:
    get:
      summary: List repository workflows
      description: |-
        Lists the workflows in a repository.

        Anyone with read access to the repository can use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.
      tags:
      - actions
      operationId: actions/list-repo-workflows
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflows#list-repository-workflows
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                - total_count
                - workflows
                properties:
                  total_count:
                    type: integer
                  workflows:
                    type: array
                    items:
                      $ref: '#/components/schemas/workflow'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflows
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}:
    get:
      summary: Get a workflow
      description: |-
        Gets a specific workflow. You can replace `workflow_id` with the workflow
        file name. For example, you could use `main.yaml`.

        Anyone with read access to the repository can use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.
      tags:
      - actions
      operationId: actions/get-workflow
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflows#get-a-workflow
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflow-id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflows
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/disable:
    put:
      summary: Disable a workflow
      description: |-
        Disables a workflow and sets the `state` of the workflow to `disabled_manually`. You can replace `workflow_id` with the workflow file name. For example, you could use `main.yaml`.

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/disable-workflow
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflows#disable-a-workflow
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflow-id'
      responses:
        '204':
          description: Response
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflows
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches:
    post:
      summary: Create a workflow dispatch event
      description: |-
        You can use this endpoint to manually trigger a GitHub Actions workflow run. You can replace `workflow_id` with the workflow file name. For example, you could use `main.yaml`.

        You must configure your GitHub Actions workflow to run when the [`workflow_dispatch` webhook](/developers/webhooks-and-events/webhook-events-and-payloads#workflow_dispatch) event occurs. The `inputs` are configured in the workflow file. For more information about how to configure the `workflow_dispatch` event in the workflow file, see "[Events that trigger workflows](/actions/reference/events-that-trigger-workflows#workflow_dispatch)."

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      operationId: actions/create-workflow-dispatch
      tags:
      - actions
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflows#create-a-workflow-dispatch-event
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflow-id'
      responses:
        '200':
          description: Response including the workflow run ID and URLs when `return_run_details` parameter is `true`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workflow-dispatch-response'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref:
                  type: string
                  description: The git reference for the workflow. The reference can be a branch or tag name.
                inputs:
                  type: object
                  description: Input keys and values configured in the workflow file. The maximum number of properties is
                    25. Any default properties configured in the workflow file will be used when `inputs` are omitted.
                  additionalProperties: true
                  maxProperties: 25
              required:
              - ref
            examples:
              default:
                value:
                  ref: topic-branch
                  inputs:
                    name: Mona the Octocat
                    home: San Francisco, CA
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflows
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/enable:
    put:
      summary: Enable a workflow
      description: |-
        Enables a workflow and sets the `state` of the workflow to `active`. You can replace `workflow_id` with the workflow file name. For example, you could use `main.yaml`.

        OAuth tokens and personal access tokens (classic) need the `repo` scope to use this endpoint.
      tags:
      - actions
      operationId: actions/enable-workflow
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflows#enable-a-workflow
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflow-id'
      responses:
        '204':
          description: Response
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflows
  /repos/{owner}/{repo}/actions/workflows/{workflow_id}/runs:
    get:
      summary: List workflow runs for a workflow
      description: |-
        List all workflow runs for a workflow. You can replace `workflow_id` with the workflow file name. For example, you could use `main.yaml`. You can use parameters to narrow the list of results. For more information about using parameters, see [Parameters](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#parameters).

        Anyone with read access to the repository can use this endpoint

        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.

        This endpoint will return up to 1,000 results for each search when using the following parameters: `actor`, `branch`, `check_suite_id`, `created`, `event`, `head_sha`, `status`.
      tags:
      - actions
      operationId: actions/list-workflow-runs
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/actions/workflow-runs#list-workflow-runs-for-a-workflow
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/workflow-id'
      - $ref: '#/components/parameters/actor'
      - $ref: '#/components/parameters/workflow-run-branch'
      - $ref: '#/components/parameters/event'
      - $ref: '#/components/parameters/workflow-run-status'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/created'
      - $ref: '#/components/parameters/exclude-pull-requests'
      - $ref: '#/components/parameters/workflow-run-check-suite-id'
      - $ref: '#/components/parameters/workflow-run-head-sha'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                - total_count
                - workflow_runs
                properties:
                  total_count:
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/workflow-run'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: actions
        subcategory: workflow-runs
  /repos/{owner}/{repo}/assignees:
    get:
      summary: List assignees
      description: Lists the [available assignees](https://docs.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/)
        for issues in a repository.
      tags:
      - issues
      operationId: issues/list-assignees
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/issues/assignees#list-assignees
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/simple-user'
          headers:
            Link:
              $ref: '#/components/headers/link'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: assignees
  /repos/{owner}/{repo}/assignees/{assignee}:
    get:
      summary: Check if a user can be assigned
      description: |-
        Checks if a user has permission to be assigned to an issue in this repository.

        If the `assignee` can be assigned to issues in the repository, a `204` header with no content is returned.

        Otherwise a `404` status code is returned.
      tags:
      - issues
      operationId: issues/check-user-can-be-assigned
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/issues/assignees#check-if-a-user-can-be-assigned
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: assignee
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: If the `assignee` can be assigned to issues in the repository, a `204` header with no content is returned.
        '404':
          description: Otherwise a `404` status code is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/basic-error'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: assignees
  /repos/{owner}/{repo}/branches:
    get:
      summary: List branches
      description: ''
      tags:
      - repos
      operationId: repos/list-branches
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/branches/branches#list-branches
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: protected
        description: Setting to `true` returns only branches protected by branch protections or rulesets. When set to `false`,
          only unprotected branches are returned. Omitting this parameter returns all branches.
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/short-branch'
          headers:
            Link:
              $ref: '#/components/headers/link'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: branches
        subcategory: branches
  /repos/{owner}/{repo}/branches/{branch}:
    get:
      summary: Get a branch
      description: ''
      tags:
      - repos
      operationId: repos/get-branch
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/branches/branches#get-a-branch
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/branch'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branch-with-protection'
        '301':
          $ref: '#/components/responses/moved_permanently'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: branches
        subcategory: branches
  /repos/{owner}/{repo}/branches/{branch}/rename:
    post:
      summary: Rename a branch
      description: |-
        Renames a branch in a repository.

        > [!NOTE]
        > Although the API responds immediately, the branch rename process might take some extra time to complete in the background. You won't be able to push to the old branch name while the rename process is in progress. For more information, see "[Renaming a branch](https://docs.github.com/github/administering-a-repository/renaming-a-branch)".

        The authenticated user must have push access to the branch. If the branch is the default branch, the authenticated user must also have admin or owner permissions.

        In order to rename the default branch, fine-grained access tokens also need the `administration:write` repository permission.
      tags:
      - repos
      operationId: repos/rename-branch
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/branches/branches#rename-a-branch
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/branch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new_name:
                  type: string
                  description: The new name of the branch.
              required:
              - new_name
            examples:
              default:
                value:
                  new_name: my_renamed_branch
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branch-with-protection'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/validation_failed'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: branches
        subcategory: branches
  /repos/{owner}/{repo}/collaborators:
    get:
      summary: List repository collaborators
      description: |-
        For organization-owned repositories, the list of collaborators includes outside collaborators, organization members that are direct collaborators, organization members with access through team memberships, organization members with access through default organization permissions, and organization owners.
        The `permissions` hash returned in the response contains the base role permissions of the collaborator. The `role_name` is the highest role assigned to the collaborator after considering all sources of grants, including: repo, teams, organization, and enterprise.
        There is presently not a way to differentiate between an organization level grant and a repository level grant from this endpoint response.

        Team members will include the members of child teams.

        The authenticated user must have write, maintain, or admin privileges on the repository to use this endpoint. For organization-owned repositories, the authenticated user needs to be a member of the organization.
        OAuth app tokens and personal access tokens (classic) need the `read:org` and `repo` scopes to use this endpoint.
      tags:
      - repos
      operationId: repos/list-collaborators
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/collaborators/collaborators#list-repository-collaborators
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: affiliation
        description: Filter collaborators returned by their affiliation. `outside` means all outside collaborators of an organization-owned
          repository. `direct` means all collaborators with permissions to an organization-owned repository, regardless of
          organization membership status. `all` means all collaborators the authenticated user can see.
        in: query
        required: false
        schema:
          type: string
          enum:
          - outside
          - direct
          - all
          default: all
      - name: permission
        description: Filter collaborators by the permissions they have on the repository. If not specified, all collaborators
          will be returned.
        in: query
        required: false
        schema:
          type: string
          enum:
          - pull
          - triage
          - push
          - maintain
          - admin
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/collaborator'
          headers:
            Link:
              $ref: '#/components/headers/link'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: collaborators
        subcategory: collaborators
  /repos/{owner}/{repo}/collaborators/{username}:
    get:
      summary: Check if a user is a repository collaborator
      description: |-
        For organization-owned repositories, the list of collaborators includes outside collaborators, organization members that are direct collaborators, organization members with access through team memberships, organization members with access through default organization permissions, and organization owners.

        Team members will include the members of child teams.

        The authenticated user must have push access to the repository to use this endpoint.

        OAuth app tokens and personal access tokens (classic) need the `read:org` and `repo` scopes to use this endpoint.
      tags:
      - repos
      operationId: repos/check-collaborator
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/collaborators/collaborators#check-if-a-user-is-a-repository-collaborator
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/username'
      responses:
        '204':
          description: Response if user is a collaborator
        '404':
          description: Not Found if user is not a collaborator
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: collaborators
        subcategory: collaborators
    put:
      summary: Add a repository collaborator
      description: |-
        Add a user to a repository with a specified level of access. If the repository is owned by an organization, this API does not add the user to the organization - a user that has repository access without being an organization member is called an "outside collaborator" (if they are not an Enterprise Managed User) or a "repository collaborator" if they are an Enterprise Managed User. These users are exempt from some organization policies - see "[Adding outside collaborators to repositories](https://docs.github.com/organizations/managing-user-access-to-your-organizations-repositories/managing-outside-collaborators/adding-outside-collaborators-to-repositories-in-your-organization)" to learn more about these collaborator types.

        This endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications).

        Adding an outside collaborator may be restricted by enterprise and organization administrators. For more information, see "[Enforcing repository management policies in your enterprise](https://docs.github.com/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise#enforcing-a-policy-for-inviting-outside-collaborators-to-repositories)" and "[Setting permissions for adding outside collaborators](https://docs.github.com/organizations/managing-organization-settings/setting-permissions-for-adding-outside-collaborators)" for organization settings.

        For more information on permission levels, see "[Repository permission levels for an organization](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#permission-levels-for-repositories-owned-by-an-organization)". There are restrictions on which permissions can be granted to organization members when an organization base role is in place. In this case, the role being given must be equal to or higher than the org base permission. Otherwise, the request will fail with:

        ```
        Cannot assign {member} permission of {role name}
        ```

        Note that, if you choose not to pass any parameters, you'll need to set `Content-Length` to zero when calling out to this endpoint. For more information, see "[HTTP method](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#http-method)."

        The invitee will receive a notification that they have been invited to the repository, which they must accept or decline. They may do this via the notifications page, the email they receive, or by using the [API](https://docs.github.com/rest/collaborators/invitations).

        For Enterprise Managed Users, this endpoint does not send invitations - these users are automatically added to organizations and repositories. Enterprise Managed Users can only be added to organizations and repositories within their enterprise.

        **Updating an existing collaborator's permission level**

        The endpoint can also be used to change the permissions of an existing collaborator without first removing and re-adding the collaborator. To change the permissions, use the same endpoint and pass a different `permission` parameter. The response will be a `204`, with no other indication that the permission level changed.

        **Rate limits**

        You are limited to sending 50 invitations to a repository per 24 hour period. Note there is no limit if you are inviting organization members to an organization repository.
      tags:
      - repos
      operationId: repos/add-collaborator
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/collaborators/collaborators#add-a-repository-collaborator
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/username'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                permission:
                  type: string
                  description: 'The permission to grant the collaborator. **Only valid on organization-owned repositories.**
                    We accept the following permissions to be set: `pull`, `triage`, `push`, `maintain`, `admin` and you can
                    also specify a custom repository role name, if the owning organization has defined any.'
                  default: push
            examples:
              new-invitation-is-created:
                summary: Add a collaborator with triage permissions
                value:
                  permission: triage
      responses:
        '201':
          description: Response when a new invitation is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository-invitation'
        '204':
          description: |-
            Response when:
            - an existing collaborator is added as a collaborator
            - an organization member is added as an individual collaborator
            - an existing team member (whose team is also a repository collaborator) is added as an individual collaborator
        '422':
          description: |-
            Response when:
            - validation failed, or the endpoint has been spammed
            - an Enterprise Managed User (EMU) account was invited to a repository in an enterprise with personal user accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation-error'
        '403':
          $ref: '#/components/responses/forbidden'
      x-github:
        triggersNotification: true
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: collaborators
        subcategory: collaborators
    delete:
      summary: Remove a repository collaborator
      description: |-
        Removes a collaborator from a repository.

        To use this endpoint, the authenticated user must either be an administrator of the repository or target themselves for removal.

        This endpoint also:
        - Cancels any outstanding invitations sent by the collaborator
        - Unassigns the user from any issues
        - Removes access to organization projects if the user is not an organization member and is not a collaborator on any other organization repositories.
        - Unstars the repository
        - Updates access permissions to packages

        Removing a user as a collaborator has the following effects on forks:
         - If the user had access to a fork through their membership to this repository, the user will also be removed from the fork.
         - If the user had their own fork of the repository, the fork will be deleted.
         - If the user still has read access to the repository, open pull requests by this user from a fork will be denied.

        > [!NOTE]
        > A user can still have access to the repository through organization permissions like base repository permissions.

        Although the API responds immediately, the additional permission updates might take some extra time to complete in the background.

        For more information on fork permissions, see "[About permissions and visibility of forks](https://docs.github.com/pull-requests/collaborating-with-pull-requests/working-with-forks/about-permissions-and-visibility-of-forks)".
      tags:
      - repos
      operationId: repos/remove-collaborator
      externalDocs:
        description: API method documentation
[...]
